body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  margin: 0;
  padding: 0
}

a, .navbar-brand path {
transition: all 0.2s linear
}

/* TODAS PAGINAS */

.pageBody {
  min-height: 500px
}

.pageBody h3 {
  color: #78a04c;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;

}


/* PAGINA MAIN */
.pageMain {
  min-height: 0
}

.pageMain .box {
  border: 1px solid #999;
  text-align: center;
  line-height: 150px;
}

.pageMain .box a {
  background: #78A04C;
  color: #FFF;
  text-decoration: none;
  display: block
}

.pageMain .box a:hover {
  background: #FF0000
}

.pageMain > .row {
  margin: 250px 0
}

/* HEADER */
.navbar {
  background: #78A04C;
  color: #FFF;
  margin-bottom: 60px
}

.navbar a {
  color: #FFF;
  margin-right: 10px
}

.navbar a:hover {
  color: #FFF;
  text-decoration: underline
}

.navbar-brand svg {
display:block;
height: 25px
}

.navbar-brand path {
   fill: #FFF;
}

.navbar-brand:hover path {
   fill: #001122
}

.nav>li>a:focus, .nav>li>a:hover {
background: transparent
}


/* FOOTER */
footer {
    padding-bottom: 2rem;
}



footer .footer-top {
    height: 3.9375rem;
    background: #3b454a;
}



footer .footer-scroll {
    text-align: right;
    margin-top: 12px;
    cursor: pointer;
}


footer .footer__links {
    background: #242b2e;
    color: #fff;
    font-size: .875rem;
    font-weight: 500;
}

footer .footer__links-title {
    font-family: Muli,Muli-local,sans-serif;
    font-weight: 900;
    font-size: .75rem;
    color: #82939c;
    text-transform: uppercase;
    margin-bottom: .625rem;
}

footer .footer__links a.link {
    display: block;
    font-size: .875rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1.0625rem;
}

footer .footer__legal {
    padding: 2rem 0;
    border-top: 1px solid rgba(255,255,255,.25);
}
footer .footer__legal .row {
    max-width: 78.125rem;
    padding: 0 2rem;
}

footer .footer__legal-copyright {
    display: inline-block;
    font-size: .875rem;
    margin-right: 2rem;
    color: #82939c;
}

footer .footer__legal-link {
    display: inline-block;
}

footer .footer__legal-link a {
    color: #82939c;
    font-size: .875rem;
    margin: 0 5px;
}

/* Sidebar - About */
.section-about h5 {
  font-weight: 700;
  color: #78A04C
}


/* PAGE CALCULATOR */
.pageCalculator button {
  padding: 5px;
  margin-bottom: 10px
}

.pageCalculator .visor {
  background: #e3e3e3;
  margin: 10px 0;
  text-align: right;
}


.pageCalculator .resultado {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  min-height: 60px
}

.pageCalculator .input {
  font-size: 18px;
  line-height: 20px;
  min-height: 20px;
  margin-top:10px
}