@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-size:16px !important;
  font-family: 'Roboto' , sans-serif
}



a, .navbar-brand path, .footer-logo path, footer .footer-scroll a,footer .footer-scroll a path{
	transition: all 0.2s linear;
	text-decoration: none
}

a:hover, a:focus {
	outline: 0;
	text-decoration: none
}

/* TODAS PAGINAS */

.pageBody {
  min-height: 600px
}

.pageBody h3 {
  color: #78a04c;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;

}


/* PAGINA MAIN */
.pageMain {
  min-height: 0
}

.pageMain .box {
  border: 1px solid #999;
  text-align: center;
  line-height: 150px;
}

.pageMain .box a span {
	display:block;
	line-height: 20px;
	margin-top:-30px
}

.pageMain .box a {
  background: #78A04C;
  color: #FFF;
  text-decoration: none;
  display: block;
  padding-bottom: 30px;
}

.pageMain .box a:hover {
  background: #e87e04
}

.pageMain > .row {
  margin: 250px 0
}

.pageMain svg {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}


.pageMain path {
	fill: #FFFFFF
}
/* HEADER */
.navbar {
  background: #3b454a;
  color: #FFF;
  margin-bottom: 60px
}

.navbar a {
  color: #FFF;
  margin-right: 10px;
  font-size:.875rem
}

.navbar a:hover {
  color: #FFF;
  text-decoration: underline
}

.navbar-brand svg {
display:block;
height: 25px
}

.navbar-brand .logo-a1,
.navbar-brand .logo-a3 {
	fill: #78A04C
}



.navbar-brand:hover .logo-a1,
.navbar-brand:hover .logo-a3 {
   fill: #e87e04
}

.nav>li>a:focus, .nav>li>a:hover {
background: transparent
}


/* FOOTER */
footer {

}



footer .footer-top {
    height: 3.9375rem;
    background: #3b454a;
}



footer .footer-scroll {
    text-align: right;
    line-height: 3.9375rem;
    cursor: pointer;
}

footer .footer-scroll a {
    font-family: Muli,Muli-local,sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #82939c;
    cursor: pointer;
	text-decoration: none
} 
footer .footer-scroll a:hover {
	color: #e87e04
}

footer .footer-scroll a:hover path {
	fill: #e87e04
}

footer .footer-scroll svg {
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 10px;
	width: 20px;
	height: 20px
}


footer .footer-mid {
    background: #242b2e;
    color: #fff;
    font-size: .875rem;
    font-weight: 500;

    padding: 68px 2rem;
}

footer .footer-mid svg {
	height: 35px;
	margin-bottom: 20px
}
	
footer .footer-logo .logo-a1,
footer .footer-logo .logo-a3 {
	fill: #78A04C
}

footer .footer-logo:hover .logo-a1,
footer .footer-logo:hover .logo-a3 {
   fill: #e87e04
}

footer .footer-mid .link-title {
    font-family: Muli,Muli-local,sans-serif;
    font-weight: 900;
    font-size: .80rem;
    color: #82939c;
    text-transform: uppercase;
    margin-bottom: .625rem;
}

footer .footer-mid .col-logo .link-title {
	margin-top:20px
}

footer .footer-mid .link {
    display: block;
    font-size: .875rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1.0625rem;
	text-decoration: none
}
footer .footer-mid .link:hover {
	color: #e87e04
}


footer .footer-sub {
    padding-top: 2rem;
	padding-bottom: 2rem;
    border-top: 1px solid rgba(255,255,255,.25);
	background: #242b2e;
}

footer .footer-sub p {
    font-size: .875rem;
    margin-right: 2rem;
    color: #82939c;
}


/* Sidebar - About */
.section-about h5 {
  font-weight: 700;
  color: #78A04C
}


/* PAGE CALCULATOR */
.pageCalculator button {
  padding: 5px;
  margin-bottom: 10px
}

.pageCalculator .visor {
  background: #e3e3e3;
  margin: 10px 0;
  text-align: right;
}


.pageCalculator .resultado {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  min-height: 60px
}

.pageCalculator .input {
  font-size: 18px;
  line-height: 20px;
  min-height: 20px;
  margin-top:10px
}