
.app .blog-header {
  height: 120px;
  display: flex;
  align-items: center;
}

.post-wrapper {
  margin-bottom: 30px;
}

.app .post-title {
  font-weight: 900;
}

.app .comments-btn {
  background: #fff;
  border: none;
  color: #9e9e9e;
  float: right;
  margin-top: 10px;
  font-size: 12px;
}

.app .about-me-section p,h4{
  padding-left: 10px;
}

.app .about-me-section p {
  font-size: 12px;
}

.app .blog-footer {
  height: 100px;
  background: #9e9e9e;
}